html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "minecraftregular";
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px #262626;
  transition: background-image 1.5s ease-in-out;
}

@font-face {
  font-family: 'minecraftbold';
  src: url('fonts/minecraftbold-nmk1-webfont.woff2') format('woff2'),
       url('fonts/minecraftbold-nmk1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minecraftitalic';
  src: url('fonts/minecraftitalic-r8mo-webfont.woff2') format('woff2'),
       url('fonts/minecraftitalic-r8mo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minecraftregular';
  src: url('fonts/minecraftregular-bmg3-webfont.woff2') format('woff2'),
       url('fonts/minecraftregular-bmg3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: small;
}

li {
  font-size: 13px;
}

h2 {
  transition: color 0.1s;
  user-select: none;
  cursor: pointer;
}

h2:hover {
  color: #ffaa00;
}

.mcbold {
  color: #ffaa00;
  font-family: "minecraftbold";
}

img {
  border-radius: 500px;
}

hr {
  border-width: 1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #313131;
  color: #fff;
  text-decoration: none;
  box-shadow: 3px 3px #000000;
  font-family: "minecraftregular";
  text-shadow: 3px 3px #000000;
  background-image: url("images/stone.png");
  transition: color 0.1s, background-color 0.1s;
}

.button:hover {
  color: #ffaa00;
  background-color: #282828;
}

.dropdown-btns,
.dropdown-btns1 {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-container {
  margin-top: 10px;
}

.small {
  font-size: 10px;
}

@keyframes gifAnimation {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

@media screen and (max-width: 500px) {
  body {
    /* Instead of zoom, scale content responsibly */
    font-size: 0.6em;
  }

  .centered {
    height: auto;
  }
}
